In [1]:
import pandas as pd
import numpy as np
%matplotlib inline

In [3]:
df = pd.read_excel('../Dataset/enem_escola_2014.xlsx', sheetname=0)

In [4]:
df.columns

Index([                            u'CARACTERÍSTICAS ESCOLA',
                                               u'Unnamed: 1',
                                               u'Unnamed: 2',
                                               u'Unnamed: 3',
                                               u'Unnamed: 4',
                                               u'Unnamed: 5',
                                               u'Unnamed: 6',
                                               u'Unnamed: 7',
                                               u'Unnamed: 8',
                                               u'Unnamed: 9',
                                              u'Unnamed: 10',
                                              u'INDICADORES',
                                              u'Unnamed: 12',
                                              u'Unnamed: 13',
                                              u'Unnamed: 14',
                                              u'Unnamed: 15',
                                              u'Unnamed: 16',
                                              u'Unnamed: 17',
       u'DESEMPENHO  LINGUAGENS, CÓDIGOS E SUAS TECNOLOGIAS',
                                              u'Unnamed: 19',
                                              u'Unnamed: 20',
                                              u'Unnamed: 21',
                                              u'Unnamed: 22',
                                              u'Unnamed: 23',
                                              u'Unnamed: 24'],
      dtype='object')

In [5]:
df.head(1)

,CARACTERÍSTICAS ESCOLA,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 15,Unnamed: 16,Unnamed: 17,"DESEMPENHO LINGUAGENS, CÓDIGOS E SUAS TECNOLOGIAS",Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24
0,CÓDIGO DA ENTIDADE,NOME DA ENTIDADE,SIGLA DA UF,MUNICÍPIO,DEPENDÊNCIA ADMINISTRATIVA,LOCALIZAÇÃO,NÚMERO DE ALUNOS NO CENSO,PORTE DA ESCOLA,NÚMERO DE PARTICIPANTES NO ENEM,TAXA DE PARTICPAÇÃO,...,TAXA DE APROVAÇÃO,TAXA DE REPROVAÇÃO,TAXA DE ABANDONO,MÉDIA DOS 30 MELHORES ALUNOS DA ESCOLA,MÉDIA,Percentual alunos NÍVEL 1,Percentual alunos NÍVEL 2,Percentual alunos NÍVEL 3,Percentual alunos NÍVEL 4,Percentual alunos NÍVEL 5